
<div class="card rounded-0 ">
  <img src={{mainList?.rutaFoto}} class="card-img-top" alt="Foto Producto">
  <div class="card-body">
    <h5 class="card-title fs-3 fw-bold text-primary-emphasis text-capitalize">{{mainList?.producto}}</h5>
    <p class="card-text fs-5 fw-normal text-capitalize">{{mainList?.descripcion}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item fw-semibold">codigo: {{mainList?.plu}}</li>
    <li class="list-group-item fw-semibold">{{mainList?.genero}}</li>
    <li class="list-group-item fw-semibold">{{mainList?.precio}} $COP</li>
  </ul>
  <div class="card-body">
    <a  [routerLink]="['/Product/detail', mainList?.id]" class="btn btn-primary">Ir al producto</a>
  </div>
</div>
